<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://fonts.googleapis.com/css?family=Gothic+A1:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> -->
    <link rel="icon" href="/static/images/wallstreet-logo.jpeg">
    <title>Dashboard | WallStreet '22</title>
    <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/static/css/dashboard1.css">
    <!-- <link rel="stylesheet" href="/static/css/toastify.min.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/materialize.min.css"> -->
    <!-- <script src="dashboard.js"></script> -->
    <script src="/static/js/plotly.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/jquery.basic.toast.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/loader.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>

    <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            CurrentHolding();
            LoadPrice();
            getdata();
        });

        function popitup(url) {
            var leftPosition, topPosition;

            leftPosition = (window.screen.width / 2) - ((800 / 2) + 10);

            topPosition = (window.screen.height / 2) - ((600 / 2) + 50);

            newwindow = window.open(url, 'name', "status=no,height=600,width=800,resizable=yes,left="
                + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY="
                + topPosition + ",toolbar=no,menubar=no,scrollbars=no,directories=no");

            if (window.focus) { newwindow.focus() }
            return false;
        }


    </script>
    <div id="bg"></div>
    <div id="loader"></div>
    <div class="container mx-auto">
        <nav class="container mx-auto py-2 mx-12">
            <div class="flex flex-row">
                <a href="/">
                    <img src="/static/images/wallstreet-01.png" class="h-24 w-24" alt="logo" /></a>
                <div class="flex flex-row flex-1 gap-8 justify-end my-auto">
                    {% if user.is_authenticated %}
                    <a href="/sellbuy/dashboard/"
                        class="font-poppins color-text text-sm tracking-morewider px-4 py-2 my-auto">
                        <button class="my-auto">
                            <span class="wallstreet_button-1_font" style="color:black">Dashboard</span>
                        </button>
                    </a>
                    <a href="/auth/logout/"
                        class="font-poppins color-text text-sm tracking-morewider px-4 py-2 my-auto">
                        <button class="my-auto">
                            <span class="wallstreet_button-1_font" style="color:black">Logout</span>
                        </button>
                    </a>
                    {% else %}
                    <a href="/auth/login/" class="font-poppins color-text text-sm tracking-morewider px-4 py-2 my-auto">
                        <button class="my-auto">
                            <span class="wallstreet_button-1_font" style="color:black">Login</span>
                        </button>
                    </a>

                    <a href="/auth/register/"
                        class="font-poppins color-text text-sm tracking-morewider px-4 py-2 my-auto">
                        <button class="my-auto">
                            <span class="wallstreet_button-1_font" style="color:black">Register</span>
                        </button>
                    </a>
                    {% endif %}
                    <a class="wallstreet_button-1 py-4 px-8" href="/developers/">
                        <span class="wallstreet_button-1_font">Developers</span></button>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <!--Content-->
        <div class="container mx-auto my-4">
            <div class="grid grid-cols-4 gap-4">
                <div class="col-span-1">
                <div class="flex flex-col gap-4 ">
                    <div class="wallstreet_card p-6">
                        <p class="wallstreet_subheading">Welcome, <br> <span class="wallstreet_part2_subheading text-black">{{ name }} </span></p>
                    </div>
                    <div class="wallstreet_card p-6">
                        <p class="wallstreet_subheading">Account balance </p>
                        <p class="wallstreet_part2_subheading text-black text-left" id="money"></p>
                    </div>
                    <div class="wallstreet_card p-6">
                        <p class="wallstreet_subheading">Stocks avaliable</p>
                        <div class="form-group">
                            <label for="sel1" class="wallstreet_part2_subheading text-black text-left">Shares
                                :</label>
                            <select class="form-control p-2 wallstreet_card_input wallstreet_card_input_font" id="sharename">
                                {% for obj in shares %}
                                <option value="{{ obj.id }}" class="wallstreet_card_input_font">{{ obj.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="sel1"
                                class="wallstreet_part2_subheading text-black text-left">Quantity
                                :
                            </label>
                            <input type="number" class="form-control p-2 wallstreet_card_input wallstreet_card_input_font" id="sharequantity" placeholder="0">
                        </div>
                        <div class="flex flex-row gap-4" id="buttons">
                            <div> <button class="wallstreet_button-1 py-2 px-8"><input type="submit" class="wallstreet_button-1_font" style="text-transform: capitalize;" id="buy"
                                    value="BUY"></button></div>
                            <div> <button class="wallstreet_button-1 py-2 px-8"><input type="submit" class="wallstreet_button-1_font" style="text-transform: capitalize;" id="sell"
                                    value="SELL"></button></div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-span-3">
                    <table class="table">
                        <thead class="wallstreet_subheading text-black text-center">
                            <tr>
                                <th scope="col">Share Name</th>
                                <th scope="col">Current Price</th>
                                <th scope="col">Previous Price</th>
                                <th scope="col">Percentage change</th>
                                <th scope="col">Shares bought</th>
                            </tr>
                        </thead>
                        <tbody class="wallstreet_font_table text-center" id="share_table">

                        </tbody>
                    </table>
                    <div id="graph" class="my-4">
                    </div>
                </div>
            </div>
        </div>
    <script>
        setInterval(function () {
            LoadPrice();
        }, 10000);


        function Graph(id) {
            $.get('/sellbuy/graph/' + id + '', function (data) {
                console.log(data);
                var trace = {
                    x: data.share_time,
                    y: data.share_price,
                    type: 'Scatter',
                    marker: {
                        color: '#2196F3',
                        size: 10,
                        line: {
                            color: 'black',
                            width: 1
                        }
                    },
                };
                var graphData = [trace];

                var layout = {
                    title: data.share_name,

                };

                Plotly.newPlot('graph', graphData, layout);





            });
        }

        function LoadPrice() {

            $.get('/sellbuy/data/', function (data) {
                console.log(data);

                var tableHTML = "";
                for (var i = 0; i < data.data.length; i++) {
                    if(data.data[i].percentage_share_change > 0)
                    // tableHTML += '<tr><td><a href=' + '\'/sellbuy/graph/' + (data.data[i].share_id) + '\' onclick=\"return popitup(\'/sellbuy/graph/' + (data.data[i].share_id) + '\')\">' + (data.data[i].share) + '</a>' + '</td><td>' + (data.data[i].current_price) + '</td><td>' + (data.data[i].previous_price) + '</td><td>' + (data.data[i].percentage_share_change) + '</td><td>' + (data.data[i].quantity) + '</td></tr>';
                        tableHTML += '<tr><td onclick=\"Graph(' + (data.data[i].share_id) + ')\"><a href="#">' + (data.data[i].share) + '</a>' + '</td><td> &#8377; ' + (data.data[i].current_price) + '</td><td> &#8377; ' + (data.data[i].previous_price) + '</td><td class="text-green-600">' + ( data.data[i].percentage_share_change + "&uarr;") + ' %</td><td>' + (data.data[i].quantity) + '</td></tr>';
                    else 
                        tableHTML += '<tr><td onclick=\"Graph(' + (data.data[i].share_id) + ')\"><a href="#">' + (data.data[i].share) + '</a>' + '</td><td> &#8377; ' + (data.data[i].current_price) + '</td><td> &#8377; ' + (data.data[i].previous_price) + '</td><td class="text-red-600">' + ( data.data[i].percentage_share_change + "&darr;") + ' %</td><td>' + (data.data[i].quantity) + '</td></tr>';
                       
                }
                $("#share_table").html(tableHTML);

            });
        }

        function CurrentHolding() {
            $.get('/sellbuy/money/', function (data) {
                $("#money").html("&#8377; " + data.money);
            });
        }


        $("#buy").click(function (e) {
            $("#sell").attr("disabled", true);
            $("#buy").attr("disabled", true);
            e.preventDefault();
            var dropdown = $("#sharename").val();
            var quantity = $("#sharequantity").val();
            var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
            var button = $(this).val();

            $.ajax({
                type: 'POST',
                url: '/sellbuy/transaction/',
                data: {
                    dropdown: dropdown,
                    quantity: quantity,
                    button: button,
                    csrfmiddlewaretoken: csrfmiddlewaretoken

                },
                success: function (data) {
                    CurrentHolding();
                    LoadPrice();
                    $("#sell").attr("disabled", false);
                    $("#buy").attr("disabled", false);
                    $.Toast(data.message, {
                        'duration': 4000,
                        'position': 'bottom',
                        'z-depth': 99999
                    });
                    $("#sell").attr("disabled", false);
                    $("#buy").attr("disabled", false);
                }
            });



        });

        $("#sell").click(function (e) {

            e.preventDefault();
            $("#sell").attr("disabled", true);
            $("#buy").attr("disabled", true);

            var dropdown = $("#sharename").val();
            var quantity = $("#sharequantity").val();
            var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
            var button = $(this).val();

            $.ajax({
                type: 'POST',
                url: '/sellbuy/transaction/',
                data: {
                    dropdown: dropdown,
                    quantity: quantity,
                    button: button,
                    csrfmiddlewaretoken: csrfmiddlewaretoken
                },
                success: function (data) {
                    CurrentHolding();
                    LoadPrice();
                    $("#sell").attr("disabled", false);
                    $("#buy").attr("disabled", false);
                    $.Toast(data.message, {
                        'duration': 4000,
                        'position': 'bottom',
                        'z-depth': 99999
                    });
                }
            });

        });

    </script>
</body>

</html>